@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main {
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 640px) {
  .bg-main {
    background-image: url("../public/assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .bg-main {
    background-image: url("../public/assets/home/background-home-desktop.jpg");
  }
}
