@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

nav li {
  letter-spacing: 4px;
}

.border-nav {
  @apply relative before:absolute before:bottom-0 before:left-0 before:right-0 before:h-1 sm:before:bg-white before:z-10 before:content-[''] sm:hover:before:bg-[#b3b3b3] hover:before:block before:hidden;
}

.active {
  @apply border-r-4 border-white sm:before:block sm:border-r-0;
}

.non-active {
  @apply border-none sm:before:hidden;
}

.font-barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.font-bellefair {
  font-family: "Bellefair";
}

.bg-main {
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 640px) {
  .bg-main {
    background-image: url("../public/assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1300px) {
  .bg-main {
    background-image: url("../public/assets/home/background-home-desktop.jpg");
  }
}
