@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

nav li {
  letter-spacing: 4px;
}

.font-barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.font-bellefair {
  font-family: "Bellefair";
}

.bg-main {
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 640px) {
  .bg-main {
    background-image: url("../public/assets/home/background-home-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .bg-main {
    background-image: url("../public/assets/home/background-home-desktop.jpg");
  }
}
